:root{
    --Verde-principal:#3DDC84;
    --Cinza-escuro:#2E2E2E;
    --Branco: #fff;
    --Cinza:#F2F2F2;
    --Laranja: #FF6B00;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}